{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<main>
    {% for message in messages%}
    <div class="container">
        <div class="alert alert-success" role="alert" id="success-message">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <div class="container mt-5 d-flex justify-content-center align-items-center bg-color">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% endif %}

            <div class="mb-3 text-center">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            
            <div class="mb-3 text-center">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}