{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<main>
    <div class="container mt-5 d-flex justify-content-center align-items-center">
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3 text-center">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="mb-3 text-center">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="mb-3 text-center">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="mb-3 text-center">
                {{ form.password_confirm.label_tag }}
                {{ form.password_confirm }}
            </div>
            <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
    </form>
    </div>
</main>
{% endblock %}