{% extends "base_login.html" %}


{% load i18n %}
{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="login-container">
    <h1>{% trans "Sign In" %}</h1>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}
        <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
    </form>
    <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a></p>
    <p>{% trans "Don't have an account? " %}<a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></p>
</div>
{% endblock %}