{% extends 'base.html' %}
{% block title %}Book{% endblock %}

{% block content %}
<div class="container mt-5 bg-color p-5 text-center bg-dark">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
        <button type="submit" class="btn btn-primary btn-sm custom-border-radius">Book</button>
        <a href="{% url 'mybookings' %}" class="btn btn-secondary btn-sm custom-border-radius">My Bookings</a>
        </div>
    </form>
</div>
{% endblock %}