{% extends 'base.html' %}
{% block title %}Booked{% endblock %}

{% block content %}
<div class="container mt-5 bg-color text-center">
<h1>Booked</h1>
<p>Thank you for booking with us. We will contact you to confirm.</p>
<p>Click the button below and go to your booking.</p>
<form action="{% url 'mybookings' %}" method="get">
    <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary custom-border-radius" type="submit">My Booking</button>
    </div>
</form>
</div>
{% endblock %}

