{% extends 'base.html' %}
{% block title %}Update Bookings{% endblock %}

{% block content %}

{% for message in messages%}
<div class="container">
    <div class="alert alert-success" role="alert" id="success-message">
        {{ message }}
    </div>
</div>
{% endfor %}

<div class="container mt-5 bg-color">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary custom-border-radius">Update</button>
    </form>
</div>
{% endblock %}