{% extends 'base.html' %}
{% block title %}My Bookings{% endblock %}

{% block content %}
{% for message in messages %}
<div class="container">
<div class="alert alert-success container" role="alert" id="success-message">
    {{ message }}
</div>
</div>
{% endfor %}

<div class="container mt-5 bg-color">
    <div class="text-center">
        <h1>My Bookings</h1>
    </div>

    <div class="container mt-3 my-bookings">
        {% if bookings %}
        <div class="row row-cols-1 row-cols-md-2">
            {% for booking in bookings %}
            <div class="col mb-4 mx-auto mt-2">
                <div class="card custom-border-radius ">
                    <div class="card-body">
                        <h5 class="card-title">{{ booking.table_name }}</h5>
                        <p class="card-text">Phone: {{ booking.table_phone }}</p>
                        <p class="card-text">Email: {{ booking.table_email }}</p>
                        <p class="card-text">Capacity: {{ booking.table_capacity }}</p>
                        <p class="card-text">Date: {{ booking.table_date }}</p>
                        <p class="card-text">Time: {{ booking.table_time }}</p>
                        <a href="{% url 'delete-bookings' %}" class="btn btn-danger btn-sm custom-border-radius">Delete</a>
                        <a href="{% url 'edit-bookings' booking.id %}" class="btn btn-primary btn-sm custom-border-radius">Update</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning text-center" role="alert">
            You have no bookings yet. Click <a href="{% url 'bookings' %}">here</a> to make a booking.
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
