{% extends 'base.html' %}
{% block title %}My Bookings{% endblock %}

{% block content %}

<div class="container mt-5 bg-color">
<div class="text-center">
<h1>My Bookings</h1>
</div>

<div class="container mt-5">
    {% for message in messages%}
    <div class="container">
        <div class="alert alert-success" role="alert" id="success-message">
            {{ message }}
        </div>
    </div>
    {% endfor %}

<table class="table table-light table-borderless">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Capacity</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.table_name }}</td>
                <td>{{ booking.table_phone }}</td>
                <td>{{ booking.table_email }}</td>
                <td>{{ booking.table_capacity }}</td>
                <td>{{ booking.table_date }}</td>
                <td>{{ booking.table_time }}</td>
                <td><a href="{% url 'delete-bookings' %}" class="btn btn-danger btn-sm">Delete</a></td>
                <td><a href="{% url 'edit-bookings' booking.id %}" class="btn btn-primary btn-sm">Update</a></td>
            </tr>
        {% endfor %}
        
    </tbody>
</table> 
</div>
</div>

{% endblock %}