{% extends 'base.html' %}
{% block title %}My Bookings{% endblock %}

{% block content %}
<h1> My Bookings </h1>
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Capacity</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.table_name }}</td>
                <td>{{ booking.table_phone }}</td>
                <td>{{ booking.table_email }}</td>
                <td>{{ booking.table_capacity }}</td>
                <td>{{ booking.table_date }}</td>
                <td>{{ booking.table_time }}</td>
                <a href="{% url 'delete-bookings' booking.id %}" class="btn btn-danger btn-sm">Delete</a>
            </tr>
        {% endfor %}
    </tbody>
</table> 
</div>

{% endblock %}