{% extends 'base.html' %}
{% block title %}Login needed{% endblock %}

{% block content %}
<div class="container mt-5 text-center bg-color p-5">
<h1>Please Log In or Sign Up</h1>
<p>To access this feature, please log in to your account or register if you're new here.</p>

<h4>Already have an account?</h3>
<form action="{% url 'login' %}" method="get">
    <button type="submit" class="btn  btn-secondary btn-sm custom-border-radius">Login</button>
</form>

<div class="mt-3">
<h4>New user?</h3>
<form action="{% url 'register' %}" method="get">
    <button type="submit" class="btn btn-secondary btn-sm custom-border-radius">Sign Up</button>
</form>
</div>
</div>
{% endblock %}

